.container-fluid
  .col-md-10.col-md-offset-1
    .jumbotron.text-center
      .h2 Enter the equation you want balanced in the box below
      = form_tag root_path, method: "get" do
        = text_field_tag(:eqn)
        = submit_tag "Balance"
-if @b != nil
  .text-center
    .h2= @b
